---
import{ type Review} from '../interfaces/review.ts';
import {GET_REVIEW_LINK} from '../consts/siteInfo';

interface Props{
    review: Review
}

const {review} = Astro.props
---

<div class="flex flex-col bg-white my-4 p-4  rounded" itemscope itemtype="https://schema.org/Review">
    <div class="flex justify-start items-start">
        <span class="flex justify-center shrink-0 items-center !h-10 !w-10  mr-2 bg-yellow-300 rounded-full font-bold" >
            {review.author_title?.slice(0,1).toLocaleUpperCase()}
        </span>
        <div class="flex flex-col items-start" itemprop="itemReviewed" itemscope itemtype="https://schema.org/Restaurant">
            <a class="font-semibold my-2" href={review.author_link} rel="ugc" target="_blank" itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name" class="capitalize">{review.author_title.toLocaleLowerCase()}</span></a>
            <div class="flex items-center font-semibold my-2 text-yellow-300" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                <span itemprop="ratingValue">{review.review_rating}</span>/5
                {Array.from({length:parseInt(review.review_rating)}).map(() => 
                <svg class="w-5 h-5 ml-2 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                ) }
            </div>
            <p class="my-2 text-left break-words" itemprop="reviewBody">{review.review_text}</p>
            <a href={GET_REVIEW_LINK} rel="nofollow" target="_blank" class="pt-4 text-bold">Yorum Yazın</a>
        </div>
        
    </div>
</div>